@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

:root {
  /* variables colors */
  --color-nav-Text: #1a332c;
  --color3-nav-bg: #6ef5d1;
  --color-text-body: #ffffff;
  --color-body-bg: #647571;
  --color1: #7dcab6;
  --color2: #1a332c;
  --color4: #647571;
  --color5: #f5f36e;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "DM Serif Display", serif, "Merriweather", sans-serif;
  background: var(--color-body-bg);
  color: var(--color-text-body);
}


/* -------------------FOOTER------------------------------- */

#profile-link {
  color: #3498db;
  text-decoration: none;
}

@media (max-width: 600px) {
  /* Example media query for smaller screens */
  #navbar {
    flex-direction: column;
  }

  #navbar a {
    margin: 10px 0;
  }
}
