@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

:root {
  /* variables colors */
  --color-nav-Text: #1a332c;
  --color3-nav-bg: #6ef5d1;
  --color-text-body: #ffffff;
  --color-body-bg: #647571;
  --color1: #7dcab6;
  --color2: #1a332c;
  --color4: #647571;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "DM Serif Display", serif, "Merriweather", sans-serif;
  background: var(--color-body-bg);
  color: var(--color-text-body);
}

/* ------------NAVBAR-SECTION------------ */

.navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 4rem;
  background-color: var(--color3-nav-bg);
}

.links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.links a {
  display: flex;
  height: 100%;
  padding: 0 40px;
  align-items: center;
}

.links a:hover, a:hover li{
  background-color: var(--color-body-bg);
  color: var(--color-text-body);
  cursor: pointer;
}

a{
  text-decoration: none;
  font-weight: 600;
  color: var(--color-nav-Text);
}

/* ------------------HERO-CONTENT-SECTION---------------------------- */

.home {
  height: 100vh;
  /* background-color: #f0f0f0; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects {
  padding: 20px;
  /* background-color: #e0e0e0; */
}

.project-tile {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

#profile-link {
  color: #3498db;
  text-decoration: none;
}

@media (max-width: 600px) {
  /* Example media query for smaller screens */
  #navbar {
    flex-direction: column;
  }

  #navbar a {
    margin: 10px 0;
  }
}
